.container{
    width: 100%;
    /* border: 2px solid blue; */
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    /* justify-content: space-around; */
    height:100%;
  }


#container-t{
    width: 100%;
    /* border: 2px solid blue; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    height:100%;/*100em*/
    align-items: center;
  }


  #container-reg{
    position: fixed;
    top: 20%;
    /* background-color: red; */
    height: 50%;/*50%*/
    width: 20em;/*20%*/
    margin: center;
    margin-bottom: 15.5%;
    /*border: 1px solid black;*/
   display: flex;
    flex-direction: column;
    
  
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  h2{
    text-align: left;
    font-size: 60px;
}


@media only screen and (max-width: 2500px){
    /* if max width = 600 px or less, apply the styling */
    input {
        padding: 5px 20px;
      }

      input[type=text] {
        padding: 5px 20px;
      }

      #container-reg{
        top: 0%;
        
      
      }
      
}